.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.swiper-slide{
    opacity: 0;
}

.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next{
    opacity: 1;
}

.swiper-slide-active img{
  border: 4px solid rgba(250, 71, 118, 0.5);
  border-radius: 1.8rem;
}

.swiper-prev svg:hover path, .swiper-next svg:hover path{
  stroke: #FA4776;
}
.swiper-prev svg:hover rect, .swiper-next svg:hover rect{
  fill: #ffffff;
}

@media (min-width: 1600px){
  .swiper-slide-active img{
    border: 6px solid rgba(250, 71, 118, 0.5);
    border-radius: 2.5rem;
  }
}
@media (min-width: 2000px){
  .swiper-slide-active img{
    border: 6px solid rgba(250, 71, 118, 0.5);
    border-radius: 3rem;
  }
}
